* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.peppaPig{
    position: relative;
    height: 480px;
    width: 370px;
    outline: 1px solid red;
}

.pig_head {
    position: absolute;
    border:6px solid #EC95C3;
    outline: 1px solid red;
    background-color: #ffb3da;
    border-radius: 92% 50% 50% 50%/ 87% 80% 68% 50%; 
    width: 300px;
    height: 200px;
    transform: rotate(16deg);
    left:35px;
    top:50px;
}

.pig_nose {
    height: 10px;
    width: 20px;
}