* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.peppaPig {
    position: relative;
    height: 480px;
    width: 370px;
    outline: 1px solid red;
}

.pig_head {
    z-index: 1;
    position: absolute;
    border: 6px solid #EE96BD;
    background-color: #ffb3da;
    border-radius: 86% 50% 50% 50%/ 90% 69% 60% 35%;
    width: 296px;
    height: 200px;
    transform: rotate(39deg);
    left: 39px;
    top: 50px;
}

.ear.left {
    z-index: -1;
    position: absolute;
    width: 38px;
    height: 70px;
    border: 6px solid #EE96BD;
    border-radius: 50% 50% 50% 50%/ 35% 40% 50% 50%;
    background: #FFB3DA;
    top: 10px;
    left: 207px;
    transform: rotate(16deg);
}

.ear.right {
    z-index: -1;
    position: absolute;
    width: 38px;
    height: 66px;
    border: 6px solid #EE96BD;
    border-radius: 50% 50% 50% 50%/ 35% 40% 50% 50%;
    background: #FFB3DA;
    top: 37px;
    left: 260px;
    transform: rotate(32deg);
}

.pig_nose {
    z-index: 3;
    position: absolute;
    height: 75px;
    width: 52px;
    background-color: #ffb3da;
    border: 6px solid #EE96BD;
    border-radius: 91% 60% 76% 60%/ 80% 62% 70% 68%;
    transform: rotate(27deg);
    left: 54px;
    top: 52px;
}

.xxx {
    z-index: 1;
    position: absolute;
    height: 170px;
    width: 180px;
    background-color: white;
    top: 42px;
    left: 41px;
    transform-origin: left top;
    transform: rotate(17deg);
}

.pig_nose::after {
    content: '';
    z-index: 3;
    position: absolute;
    background-color: #D56D9C;
    height: 15px;
    width: 14px;
    border-radius: 50%;
    top: 28px;
    left: 4px;
}

.pig_nose::before {
    content: '';
    z-index: 3;
    position: absolute;
    background-color: #D56D9C;
    height: 15px;
    width: 14px;
    border-radius: 50%;
    top: 26px;
    left: 24px;
}


.eye {
    position: absolute;
    background-color: white;
    border: 6px solid #EE95C1;
}

.eye.left {
    z-index: 2;
    border-radius: 50% 57% 47% 50%/50% 50% 50% 50%;
    height: 38px;
    width: 38px;
    left: 146px;
    top: 57px;
}

.eye.right {
    z-index: 2;
    border-radius: 50% 50% 50% 50%/55% 55% 45% 45%;
    height: 40px;
    width: 40px;
    left: 195px;
    top: 73px;
}

.eye.left::before {
    content: '';
    position: absolute;
    height: 14px;
    width: 14px;
    left: -1px;
    top: 3px;
    background-color: black;
    border-radius: 50%;
}

.eye.right::before {
    content: '';
    position: absolute;
    height: 14px;
    width: 14px;
    left: 1px;
    top: 4px;
    background-color: black;
    border-radius: 50%;
}

.nose_under {
    position: absolute;
    width: 95px;
    height: 5px;
    top: 135px;
    left: 45px;
    border-radius: 50% 50% 50% 50%/ 0% 0% 100% 100%;
    border: 6px solid #ef96c2;
    background-color: #ffb3da;
    transform: rotate(28deg);
    z-index: 2;
    box-sizing: border-box;
    border-top-color: #ffb3da;
}

.pig_jaw {
    position: absolute;
    width: 103px;
    height: 100px;
    top: 163px;
    left: 113px;
    border-radius: 0% 0% 0% 76%/ 0% 0% 0% 74%;
    border: 6px solid #ef96c2;
    background-color: #ffb3da;
    transform: rotate(17deg);
    z-index: 3;
    box-sizing: border-box;
    border-top-color: #ffb3da;
    border-right-color: #ffb3da;
}

.fixface {
    z-index: 1;
    position: absolute;
    height: 86px;
    width: 143px;
    background-color: #ffb3da;
    top: 55px;
    left: 99px;
    transform-origin: left top;
    transform: rotate(18deg);
}

.pig_mouse>.part1 {
    z-index: 3;
    position: absolute;
    height: 45px;
    width: 95px;
    top: 188px;
    left: 147px;
    background: black;
    border: 6px solid #D44B81;
    border-radius: 0% 0% 50% 50%/ 0% 0% 80% 80%;
    transform: rotate(20deg);
}

.pig_mouse>.part2 {
    z-index: 4;
    position: absolute;
    height: 27px;
    width: 100px;
    top: 189px;
    left: 148px;
    background: #ffb3da;
    border: 6px solid #D44B81;
    border-top-color: transparent;
    border-radius: 0% 0% 50% 50%/ 0% 0% 100% 100%;
    transform: rotate(20deg);
}

.pig_mouse>.part3 {
    z-index: 5;
    position: absolute;
    height: 40px;
    width: 120px;
    top: 171px;
    left: 143px;
    background: #ffb3da;
    border-radius: 0% 0% 50% 50%/ 0% 0% 100% 100%;
    transform: rotate(20deg);
}

.flush {
    z-index: 5;
    position: absolute;
    width: 49px;
    height: 59px;
    top: 148px;
    left: 248px;
    border-radius: 50% 50% 50% 50%/ 50% 50% 50% 50%;
    background-color: #ff96ce;
    transform: rotate(26deg);
}

.pig_body {
    position: absolute;
    width: 231px;
    height: 197px;
    top: 208px;
    left: 100px;
    border: 6px solid #e33b32;
    border-radius: 50% 50% 50% 50%/ 100% 100% 0% 0%;
    background-color: #eb5b50;
}